table {
    width: 100%;
}
.mat-table{
    color: rgba(0, 0, 0, 0.87);
    background-color: #312E2B;
}

.mat-card-title{
    color: #ff5800;
}
.mat-card-subtitle{
    color: #EFEFEF;
    font-size: large;
}


.mat-tab-label {
    color: #EFEFEF;
    background-color: #312E2B;
    font-size: large;
}


.mat-column-name {
    text-align: left;
    font-size: large;
    color: #EFEFEF;
}
.mat-column-score {
    text-align: left;
    font-size: large;
    color: #EFEFEF;
}
.mat-icon{
    vertical-align: middle;
}


