

.container {

    width: 100%;
    height: 100%;
    flex-direction: row;
    display: flex;
    overflow-y: auto;
}


.play-area {
    width: 60%;
    height: 100%;
    float: left;
    border-collapse: collapse;


}


.side-bar{
    width: 20%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}

.informations-div{
    width: 20%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}
