.container {
    // height: 100%;
    display: flex;
    overflow-y: auto;
}

.play-area-container {
   
    flex: 1 1 auto;
}

.play-area {
    display: grid;
    width: min-content;
    outline: none;
}
