#yesButton {
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
    width: 100%;
}
.modalScrable{
    border: none !important;
    box-shadow: none !important;
    min-width: 25% !important;
}