<mat-card class="modalScrable">
    <mat-card-title>Felicitation!</mat-card-title>
    <mat-card-subtitle>choisissez parmis les 4 choix suivants </mat-card-subtitle>
    <button mat-raised-button color="primary" id="yesButton" mat-dialog-close>jouer une partie solo</button>
    <button #button mat-raised-button color="warn" id="yesButton" mat-dialog-close>créer une partie multijoueur</button>
    <button #button mat-raised-button color="warn" id="yesButton" mat-dialog-close>joindre une partie multijoueur</button>
    <button #button mat-raised-button color="warn" id="yesButton" mat-dialog-close>Non je ne veux pas jouer</button></mat-card
>
