<div class="content" *ngIf="!this.userService.isUserQuitGame">
    <mat-card-title class="text-white text-center">Joueurs et informations</mat-card-title>
    <mat-card class="player-user-card" fxLayout="row">
        <mat-card style="margin-right: 15px" fxLayout="row">
            <ngx-avatar class="avatar" size="50" name="{{ userService.realUser.name }}" src="./assets/anonymeAvatarIcon.jpg"> </ngx-avatar>
            <mat-card-header>
                <mat-card-title>{{ userService.realUser.name }}</mat-card-title>
                <mat-card-subtitle>{{ userService.realUser.level }}</mat-card-subtitle>
                <mat-card-subtitle class="score-time">Score : {{ this.userService.realUser.score }}</mat-card-subtitle>
                <mat-card-subtitle class="score-time"
                    >temps par tour: 0{{ this.timeService.timeUser.min }}:{{ this.timeService.timeUser.sec }}</mat-card-subtitle
                >
            </mat-card-header>
        </mat-card>
        <mat-card fxLayout="row">
            <mat-card-header>
                <mat-card-title>{{ userService.vrUser.name }}</mat-card-title>
                <mat-card-subtitle>{{ userService.vrUser.level }}</mat-card-subtitle>
                <mat-card-subtitle class="score-time"> Score : {{ userService.vrUser.score }} </mat-card-subtitle>
                <mat-card-subtitle class="score-time"
                    >Temps par tour: {{ this.timeService.timeVrPlayer.min }}:{{ this.timeService.timeVrPlayer.sec }}</mat-card-subtitle
                >
            </mat-card-header>
            <ngx-avatar class="avatar" size="50" name="{{ userService.vrUser.name }}" src="./assets/virtualPlayerRobot.jpg"> </ngx-avatar>
        </mat-card>
    </mat-card>
    <mat-card-actions>
        <div class="button-group justify-content-center">
            <button mat-raised-button mat-dialog-close>Annuler La Partie</button>
            <button mat-raised-button routerLink="/game" mat-dialog-close>Démarrer La Partie</button>
        </div>
    </mat-card-actions>
</div>

<div class="content" *ngIf="this.userService.isUserQuitGame && !isUserAcceptQuit">
    <mat-card-title>Voulez-vous vraiment abandonner la partie ?</mat-card-title>
    <mat-card-subtitle>Si oui vous serez déclaré perdant !</mat-card-subtitle>
    <br />
    <hr />

    <div class="button-group">
        <mat-card-actions>
            <div class="div">
                <button mat-raised-button mat-dialog-close>Reprendre la partie</button>
                <button mat-raised-button (click)="quitMultiPlayerGame()" (click)="isUserAcceptQuit = true">Abandonner</button>
            </div>
        </mat-card-actions>
    </div>
</div>
