<mat-card fxLayout="row" *ngIf="userService.realUser.turnToPlay">
    <mat-card-header>
        <mat-card-title>{{ userService.vrUser.name }}</mat-card-title>
        <mat-card-subtitle>{{ userService.vrUser.level }}</mat-card-subtitle>
        <mat-card-subtitle class="score-time"> Score : {{ userService.vrUser.score }} </mat-card-subtitle>

        <mat-card-subtitle class="score-time" *ngIf="this.virtualPlayerService.easel.getEaselSize() < 7"
            >lettre dans chevalet : {{ this.virtualPlayerService.easel.getEaselSize() }}</mat-card-subtitle
        >

        <mat-card-subtitle class="score-time"
            >temps : {{ this.timeService.timeVrPlayer.min | number: '2.0-0' }}:{{
                this.timeService.timeVrPlayer.sec | number: '2.0-0'
            }}</mat-card-subtitle
        >
    </mat-card-header>
    <ngx-avatar class="avatar" size="50" name="{{ userService.vrUser.name }}" src="./assets/virtualPlayerRobot.jpg"> </ngx-avatar>
</mat-card>

<mat-card class="card-playing" *ngIf="!userService.realUser.turnToPlay">
    <mat-card-header>
        <ngx-avatar class="avatar" size="50" name="{{ userService.vrUser.name }}" src="./assets/virtualPlayerRobot.jpg"> </ngx-avatar>
        <mat-card-title>{{ userService.vrUser.name }}</mat-card-title>
        <mat-card-subtitle>{{ userService.vrUser.level }}</mat-card-subtitle>
        <mat-card-subtitle class="score-time"> Score : {{ userService.vrUser.score }} </mat-card-subtitle>

        <mat-card-subtitle class="score-time" *ngIf="this.virtualPlayerService.easel.getEaselSize() < 7"
            >lettre dans chevalet : {{ this.virtualPlayerService.easel.getEaselSize() }}</mat-card-subtitle
        >

        <mat-card-subtitle class="score-time"
            >temps : {{ this.timeService.timeVrPlayer.min | number: '2.0-0' }}:{{
                this.timeService.timeVrPlayer.sec | number: '2.0-0'
            }}</mat-card-subtitle
        >
    </mat-card-header>
</mat-card>
