
<div *ngIf="soloMode" >
    <mat-card class="game-Configuration-Card">
    <mat-card-title>Configuration de la partie en Solo</mat-card-title>

    <mat-card-subtitle>Entrez votre nom d'utilisateur afin de commencer la partie ! </mat-card-subtitle>
    <form>
        <div>
            <!-- nom entre par l'utilisateur -->
            <mat-form-field class="example-full-width">
                <mat-label>Name </mat-label>
                <input
                    class="user-name-input"
                    matInput
                    placeholder="Name"
                    #message
                    maxlength="15"
                    [formControl]="userName"
                    placeholder="Ex. Sami1234"
                    required
                />
                <mat-hint align="end"> {{ message.value?.length }} / 15</mat-hint>

                <mat-hint align="start" class="error-hint" *ngIf="userName.value.length < 8 || userName.invalid">
                    &#9679; Le nom ne doit pas comporter de caractère speciaux, Ex: #@*...! <br />
                    &#9679; Le nom ne doit pas contenir d'espace <br />
                    &#9679; Le nom doit avoir au min 8 caractere et max 15!! <br />
                </mat-hint>
                <mat-hint class="no-error-hint" align="start" *ngIf="userName.value.length >= 8 && userName.valid">
                    &#9679; Le nom entré est valide !!! <br />
                </mat-hint>
                <!-- <p>{{userName.value}}xx</p> -->
                <mat-icon matSuffix mat-icon-button color="primary">info</mat-icon>
            </mat-form-field>
        </div>
    </form>
    <mat-card-actions>
        <div class="play-btn">
            <button mat-raised-button mat-dialog-close>Annuler</button>
            <button
                mat-raised-button
                color="primary"
                [disabled]="userName.value.length < 8 || userName.invalid"
                mat-dialog-close
                (click)="openDialogOfVrUser()"
                (click)="storeNameInLocalStorage()"
            >
                Suivant
            </button>
        </div>
    </mat-card-actions>
</mat-card>
</div>
<div class="div" *ngIf="createMultiplayerGame"  >
    <mat-card class="game-Configuration-Card" >
        <mat-card-title>Configuration de la partie multijoueurs </mat-card-title>
    </mat-card>
<mat-stepper linear #stepper >
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Remplissez votre nom</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Nom</mat-label>
          <input matInput placeholder="entrez votre prenom"  formControlName="firstCtrl" [(ngModel)]="playerName" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Créez une partie</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Nom de la partie</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="nom de la partie" [(ngModel)]="gameName"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious mat-raised-button color="accent">Retour</button>
          <button mat-button (click)="createGame()"matStepperNext mat-raised-button color="primary">Suivant </button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Salle d'attente</ng-template>
      <div *ngIf= "guestName; else elseBlock">
        <p class="multiplayerP">vous allez jouer contre l'utilisateur {{guestName}}</p>
        <button mat-button (click)= 'beginGame(true)' routerLink="/game" mat-dialog-close >Démarer la partie</button>
        <button mat-button (click)= 'beginGame(false)' mat-dialog-close>Annuler</button>
      </div>
      <ng-template #elseBlock>
       <br> <p class="multiplayerP">Patientez pour un utilisateur s'il vous plait</p>  <br> <hr>
      <mat-spinner></mat-spinner>
      <div>
        <button mat-button (click)="disconnectUser()" matStepperPrevious mat-raised-button color="accent">Retour</button>
        <button mat-button (click)="passInSoloMode()" mat-raised-button color="primary">Jouer une partie classique</button>
      </div>
    </ng-template>
    </mat-step>
  </mat-stepper>
</div>
   
<div class="div" *ngIf="joinMultiplayerGame">   
  <mat-card class="game-Configuration-Card" >
    <mat-card-title>Joindre une partie</mat-card-title>
    <!-- <button (click)= 'joinGame()'> joindre </button> -->
</mat-card>
<mat-stepper linear #stepper >
<mat-step [stepControl]="firstFormGroup">
  <form [formGroup]="firstFormGroup">
    <ng-template matStepLabel>Remplissez votre nom</ng-template>
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput placeholder="Last name, First name" formControlName="firstCtrl" [(ngModel)]="playerName" required>
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" mat-button matStepperNext>Suivant</button>
    </div>
  </form>
</mat-step>

<mat-step>
  <ng-template matStepLabel>voir les parties</ng-template>
  <div *ngIf ="!isEmptyRoom; else elseBlock"> 
    <div *ngIf = "!roomJoined; else elseBlock"  > 
    <p class="multiplayerP">cliquez sur la partie que vous voulez rejoindre</p>
    <table id="ht" align="center"  width="400" class="table-striped table-hover">
      <thead class="header">
        <th class="contentCell">nom du client</th>
        <th class="contentCell">nom de la partie</th>
      </thead>     
        <tbody>
          <tr *ngFor="let room of rooms">
            <td class="contentCell" (click)= "joinGame(room)"  >{{ room.user?.name ?? 'default' }}</td>
            <td class="contentCell" (click)= "joinGame(room)"  >{{ room.gameName }}</td>
          </tr>
        </tbody>
    </table>
    </div>
    <ng-template #elseBlock>
      <div *ngIf ="!requestAccepted; else elseBlock">
      Le joueur n'a pas encore démarer la partie!
      </div>
      <ng-template #elseBlock>
        <button mat-raised-button color="primary" routerLink="/game" mat-dialog-close >Rejoindre la partie</button>
      </ng-template>
    </ng-template>
  
  </div> 
  <ng-template #elseBlock>
    <p class="multiplayerP">Il n'y a pas de partie en ce moment!</p>
    
  </ng-template>
  <div>
    <br>
    <button mat-button matStepperPrevious mat-raised-button color="accent">Retour</button>
  </div>
  
</mat-step>
</mat-stepper>
</div>