.game-Configuration-Card{

    border: none !important;
    box-shadow: none !important;

}
.button-group{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    button{
        width: 150px;
        border-radius: 20px;
    }
    button:last-child {
        background-color: #2E4052;
    }
    button:last-child:enabled{
        color: white;
    }
}

.mat-form-field {
    width: 100%;
}

.error-hint{
    color: red;
}
.no-error-hint{
    color: green;
}

element.style {
    transform: none;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgb(0, 255, 191);
}

.multiplayerP{

    color: #3f51b5;
    font-size: 19px;
    font-weight: 450;
}


.text-config{
    margin-top: 10%;
}





input[type="radio"] {
	appearance:none;
	width: 20px;
	height: 20px;
	border: 1px solid #FF5800;
	border-radius: 50%;
	background-clip: content-box;
	padding: 3px;
}

input[type="radio"]:checked {
	background-color: #FF5800;
}

::placeholder {
    color: #EFEFEF;
  }

.multiplayerP-chosen{
    color: red;
    font-size: 19px;
    font-weight: 450;
}

::ng-deep{
    .mat-card{
        background-color: #312E2B;
        color: #EFEFEF;
    }
    .mat-form-field-label {
        color: #EFEFEF;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
        color: #EFEFEF;
    }
    .mat-card-title{
        color: #EFEFEF;
    }
    .mat-card-subtitle{
        color: #c0c0c0;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #f1864d;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #FF5800;
    }
    .mat-mini-fab.mat-accent{
        background-color: #FF5800;
    }
    .mat-mini-fab.mat-accent.mat-button-disabled,.mat-mini-fab.mat-button-disabled.mat-button-disabled{
        background-color: #2E4052;
    }
}


.time-label{
    p{
        margin: 0;
    }
}
.tooltip-list {
    white-space: pre;
  }
