.header-user-vs-player{
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    color: #3f51b5;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    pointer-events: auto;
}

.player-user-card{
    border: none !important;
    box-shadow: none !important;
}

.mat-card-image{

    display: block;

}

.span-player{
    text-align: center;
    color: var(--globalColorThemeFull);
    font-family: var(--globalSecondaryFont);
    font-weight: 800;
}


::ng-deep{
    .mat-card>.mat-card{
        background-color: #2E4052;
        border: 3px solid #FF5800;
        color: white;
        border-radius: 20px;
        width: 290px;
    }
}

.score-time{
    font-size: 1rem;
    font-weight: 300;
    font-weight: bold;
}


.button-group{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    button{
        width: 150px;
        border-radius: 20px;
    }
    button:last-child {
        background-color: #2E4052;
    }
    button:last-child:enabled{
        color: white;
    }
}
