<div *ngIf="!this.objectifManagerService.initializedGame">
    <mat-card-title>Mode LOG2990</mat-card-title> <br />
    <mat-card-subtitle>Choisissez une des options suivantes :</mat-card-subtitle>
    <br />
    <br />
    <div class="d-flex flex-row justify-content-center align-item-center menu">
        <div class="button" (click)="openDialog('soloGame')" mat-dialog-close>
            <img src="./assets/svg/robot.png" alt="robot-icon" />
            <p>Jouer contre un ordinateur</p>
        </div>

        <div class="button" (click)="openDialog('createMultiplayerGame')" mat-dialog-close>
            <img src="./assets/svg/smart-human.png" alt="create-icon" />
            <p>Créer une partie multijoueur</p>
        </div>

        <div class="button" (click)="openDialog('joinMultiplayerGame')" mat-dialog-close>
            <img src="./assets/svg/link.png" alt="robot-icon" />
            <p>Joindre une partie multijoueur</p>
        </div>
    </div>
</div>

<mat-card *ngIf="this.objectifManagerService.initializedGame && !objectifManagerService.objectifAchived">
    <mat-card-title>Objectifs de la partie!</mat-card-title>
    <mat-tab-group>
        <mat-tab label="Publics">
            <div>
                <p class="mb-4">1.{{ getObjectifs()[0] }}</p>
                <p class="mb-4">2.{{ getObjectifs()[1] }}</p>
            </div>
        </mat-tab>
        <mat-tab label="Privés">
            <div>
                <p class="mb-4">{{ getObjectifs()[2] }}</p>
                <p class="mb-4" *ngIf="this.objectifManagerService.opponentPrivateObjectif.completed">
                    {{ this.objectifManagerService.opponentPrivateObjectif.definition }}. (objectif privé de votre adversaire)
                </p>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>

<div *ngIf="objectifManagerService.objectifAchived">
    <app-objectif-achived></app-objectif-achived>
</div>
