@import url(https://fonts.googleapis.com/css?family=Righteous);

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html,
body {
    height: 40%;
}
body {
    text-align: center;
    background-color: hsla(230, 40%, 50%, 1);
}
body:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    height: 40%;
}

h1 {
    display: inline-block;
    color: white;
    font-family: 'Righteous', serif;
    font-size: 60px;
    text-shadow: 0.03em 0.03em 0 hsla(230, 40%, 50%, 1);
}
h1:after {
    content: attr(data-shadow);
    position: absolute;
    top: 0.06em;
    left: 0.06em;
    z-index: -1;
    text-shadow: none;
    background-image: linear-gradient(45deg, transparent 45%, hsla(48, 20%, 90%, 1) 45%, hsla(48, 20%, 90%, 1) 55%, transparent 0);
    background-size: 0.05em 0.05em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
    0% {
        background-position: 0 0;
    }
    0% {
        background-position: 100% -100%;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
.wrapper {
    width: 15vw;
    text-align: center;
    background: #424242;
    span {
        -webkit-text-stroke-width: 1.25px;
        -webkit-text-stroke-color: #000;
        font-size: 25px;
        text-shadow: 0 0px #f3c623, 0 0px #f2aaaa;
        transform: translate(0, 100%) rotate(4deg);
        animation: jump 2s ease-in-out infinite;
        display: inline-block;
        font-family: 'Titan One', cursive;
        color: #fff;

        @for $i from 1 through 7 {
            &:nth-child(#{$i}) {
                animation-delay: 120ms * $i;
            }
        }
    }
}
@keyframes jump {
    33% {
        text-shadow: 0 25px #f37121, 0 25px #f2aaaa;
    }
    50% {
        transform: translate(0, 0) rotate(-4deg);
        text-shadow: 0 0px #8fc0a9, 0 0px #84a9ac;
    }
    67% {
        text-shadow: 0 -25px #d54062, 0 -25px #8fc0a9;
    }
}

html {
    width: 25%;
    height: 400vh;
}
body {
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100vh;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    overflow: hidden;
    background-color: #424242;
}
@media screen and (max-height: 40px) {
    .wrapper {
        transform: scale(0.3, 0.3);
    }
}
@media screen and (max-width: 40px) {
    .wrapper {
        span {
            font-size: 20px;
        }
    }
}
.objectifs {
    height: 30vh;
    /*This part is important for centering*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.objectif {
    width: 60ch;
    animation: typing 2s steps(100), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid;
    font-family: monospace;
    font-size: medium;
    color: blanchedalmond;
    padding-top: 5px;
}
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2e4052;
    border-radius: 20px;
}
img {
    width: 40px;
    height: 40px;
    margin: 10px;
}
.button:hover {
    background-color: #3d5369;
    cursor: pointer;
}

.button:nth-child(2) {
    margin-left: 10px;
    margin-right: 10px;
}
p {
    color: #efefef;
    padding: 0px 5px;
    font-size: x-small;
}
@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    100% {
        border-color: transparent;
    }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

:root {
    font-size: 20px;
}
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.7;
    color: #207010;
    background-color: #ffeba7;
    overflow-x: hidden;
}
a {
    cursor: pointer;
    transition: all 200ms linear;
}
a:hover {
    text-decoration: none;
}
.link {
    color: #c4c3ca;
}
.link:hover {
    color: #ffeba7;
}
.over-hide {
    overflow: hidden;
}
.size-22 {
    font-size: 10px;
}
.section {
    position: relative;
    width: 100%;
    height: 40%;
    z-index: 1;
    display: block;
}
.full-height {
    min-height: 15vh;
}
[type='checkbox']:checked,
[type='checkbox']:not(:checked) {
    position: absolute;
    left: -9999px;
}
.pricing:checked + label,
.pricing:not(:checked) + label {
    position: relative;
    display: block;
    text-align: center;
    width: 230px;
    height: 40px;
    border-radius: 4px;
    padding: 0;
    margin: 0 auto;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 44px;
    padding: 0 25px;
    padding-right: 27px;
    overflow: hidden;
    color: #fff;
    text-align: left;
}
.pricing:checked + label:before,
.pricing:not(:checked) + label:before {
    position: absolute;
    content: '';
    z-index: -2;
    background-color: #102770;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    left: 0;
}
.pricing:checked + label:after,
.pricing:not(:checked) + label:after {
    position: absolute;
    content: '';
    z-index: -1;
    background-color: #ffeba7;
    width: 128px;
    height: 40px;
    display: block;
    top: 2px;
    left: 2px;
    border-radius: 2px;
    transition: left 300ms linear;
}
.pricing:checked + label:after {
    left: 100px;
}
.block-diff {
    display: block;
    mix-blend-mode: difference;
}

.card-3d-wrap {
    position: relative;
    width: 340px;
    max-width: calc(100% - 20px);
    height: 300px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin-top: 20px;
}
.card-3d-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 700ms 400ms ease-out;
}
.card-front,
.card-back {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.07);
}
.card-back {
    transform: rotateY(180deg);
}
.pricing:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
    transition: transform 700ms 400ms ease-out;
}
.pricing-wrap {
    position: relative;
    padding-top: 20px;
    width: 100%;
    display: block;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}
.pricing-wrap h4 {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 18px;
    line-height: 1.7;
    color: #102770;
    transform: translate3d(0, 0, 35px) perspective(100px);
}
.card-3d-wrapper {
    height: 70%;
}
.pricing-wrap h4:before {
    position: absolute;
    content: '';
    z-index: -1;
    background: linear-gradient(217deg, #448ad5, #b8eaf9);
    width: 70px;
    height: 70px;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 6px 20px 0 rgba(16, 39, 112, 0.3);
    animation: border-transform 6s linear infinite;
}
.card-back .pricing-wrap h4:before {
    background: linear-gradient(217deg, #648946, #a3c984);
}
@keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}
.pricing-wrap h2 {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 36px;
    line-height: 1.1;
    color: #102770;
    transform: translate3d(0, 0, 30px) perspective(100px);
}
.pricing-wrap h2 sup {
    font-size: 20px;
}
.pricing-wrap p {
    position: relative;
    width: 100%;
    display: block;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 1px;
    color: #102770;
    transform: translate3d(0, 0, 30px) perspective(100px);
}
.card-back h2,
.card-back p,
.card-back h4 {
    color: #0c1c00;
}
::ng-deep {
    .mat-dialog-container {
        background-color: #424242;
        border-radius: 20px;
        display: flex;
        align-items: center;
        padding-bottom: -50px;
    }
}
