.game-Configuration-Card{
    
    border: none !important;
    box-shadow: none !important;
    
}
.play-btn{
    margin-top: 30Px;
}

.mat-form-field {
    width: 100%;
}

.error-hint{
    color: red;
}
.no-error-hint{
    color: green;
}