<mat-card class="modalEndGame">
    <mat-card-title>**La partie est terminé!**</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
</mat-card>
<div *ngIf="gotWinner; else elseBlock">
        <header class="header-user-vs-player">Vous avez gagné la partie, car votre adversaire a abandonné!! </header>
    <br />
    <br />
    <hr />
        <mat-card-actions>
            <div class="btn-user-player">
                <button mat-raised-button mat-dialog-close color="primary" 
                    (click)="setIsUserQuitGame()">
                    Retour à la page principale
                </button>
            </div>
        </mat-card-actions>
    </div>
<ng-template #elseBlock><button mat-raised-button color="accent" mat-dialog-close>Fermer</button></ng-template>

