<mat-card class="modalEndGame">
    <mat-card-title>**La partie est terminé!**</mat-card-title>
</mat-card>
<div *ngIf="gotWinner; else elseBlock">
    <mat-card-title class="header-user-vs-player">Vous avez gagné la partie, car votre adversaire a abandonné!!</mat-card-title>
    <br />
    <br />
    <hr />
    <p>
        <mat-card-actions>
            <div class="button-group">
                <button mat-raised-button mat-dialog-close (click)="setIsUserQuitGame()">Retour à la page principale</button>
                <button mat-raised-button mat-dialog-close (click)="joinVrPlayer()">Continuer contre le joueur virtuel</button>
            </div>
        </mat-card-actions>
    </p>
</div>
<ng-template #elseBlock><button mat-raised-button color="accent" mat-dialog-close>Fermer</button></ng-template>
