.modalEndGame {
    border: none !important;
    box-shadow: none !important;
    min-width: 25% !important;
}

.button-group {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    button {
        width: 150px;
        border-radius: 20px;
    }
    button:last-child {
        background-color: #2e4052;
    }
    button:last-child:enabled {
        color: white;
    }
}

::ng-deep {
    .mat-form-field-label {
        color: #efefef;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
        color: #efefef;
    }
    .mat-card-title {
        color: #ff5800;
    }
    .mat-card-subtitle {
        color: #c0c0c0;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #f1864d;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #ff5800;
    }
    .mat-mini-fab.mat-accent {
        background-color: #ff5800;
    }
    .mat-mini-fab.mat-accent.mat-button-disabled,
    .mat-mini-fab.mat-button-disabled.mat-button-disabled {
        background-color: #2e4052;
    }
}
