.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.play-area {
    position: relative;
    right: 5%;
}
.right-div-information {
    position: relative;
    height: 90%;
    left: 37%;
    width: auto;
    display: flex;
}

.side-bar {
    position: relative;
    height: 90%;
    right: 10%;
}

.chronometer-title {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    background: #312E2B;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 3%;
    margin-top: 15px;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    border-radius: 10px;
}


::ng-deep{
    .mat-card{
        background-color: #312E2B;
        color: #EFEFEF;
    }
    .mat-form-field-label {
        color: #EFEFEF;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
        color: #EFEFEF;
    }
    .mat-card-title{
        color: #EFEFEF;
    }
    .mat-card-subtitle{
        color: #c0c0c0;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #f1864d;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #FF5800;
    }
    .mat-mini-fab.mat-accent{
        background-color: #FF5800;
    }
    .mat-mini-fab.mat-accent.mat-button-disabled,.mat-mini-fab.mat-button-disabled.mat-button-disabled{
        background-color: #2E4052;
    }
    .mat-stepper-horizontal{
        background-color: #312E2B;
    }
    .mat-progress-spinner circle, .mat-spinner circle{
        stroke: #FF5800;
    }
}
