.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.play-area {
    position: relative;
    right: 5%;
}
.right-div-information {
    position: relative;
    height: 90%;
    left: 37%;
    width: auto;
    display: flex;
}

.side-bar {
    position: relative;
    height: 90%;
    // right: 10%;
    width: 500px;
}

.chronometer-title {
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    background: #312e2b;
    color: #fff;
    display: inline-block;
    text-align: center;
    border-radius: 3%;
    margin-top: 15px;
    margin-bottom: 2%;
    margin-left: 1%;
    margin-right: 1%;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 5px;
    border-radius: 10px;
}

::ng-deep {
    .mat-card {
        background-color: #312e2b;
        color: #efefef;
    }
    .mat-form-field-label {
        color: #efefef;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
        color: #efefef;
    }
    .mat-card-title {
        color: #efefef;
    }
    .mat-card-subtitle {
        color: #c0c0c0;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #f1864d;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #ff5800;
    }
    .mat-mini-fab.mat-accent {
        background-color: #ff5800;
    }
    .mat-mini-fab.mat-accent.mat-button-disabled,
    .mat-mini-fab.mat-button-disabled.mat-button-disabled {
        background-color: #2e4052;
    }
    .mat-stepper-horizontal {
        background-color: #312e2b;
    }
    .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: #ff5800;
    }
}
body {
    overflow: hidden; /* Hide scrollbars */
}
