<div class="container" fxLayout="row">
    <app-play-area></app-play-area>

    <div class="d-flex flex-column">
        <app-sidebar id="sideBar" (click)="this.mouseHandlingService.clearAll()"></app-sidebar>
        <div class="d-flex flex-column" (click)="this.mouseHandlingService.clearAll()" >
                <p class="chronometer-title">{{ 'Lettre restante : ' + this.remainingLetters }}</p>
                <mat-card class="" *ngIf="this.userService.endOfGame">
                    <mat-card-header>
                        <mat-card-title class="score-time" *ngIf="this.userService.getWinnerName() !== 'egal'; elseBlock">
                            {{ 'GAGNANT: ' + this.userService.getWinnerName() }}</mat-card-title
                        >
                        <ng-template #elseBlock> {{ this.userService.realUser.name + ' **EGALITE** ' + this.userService.vrUser.name }}</ng-template>
                        <mat-card-subtitle class="score-time"> {{ 'CHEVALET JV: ' + this.virtualPlayerService.easel.toString() }}</mat-card-subtitle>
                        <mat-card-subtitle class="score-time">
                            {{ 'CHEVALET Joueur: ' + this.userService.realUser.easel.toString() }}</mat-card-subtitle
                        >
                    </mat-card-header>
                </mat-card>

        </div>


    </div>
</div>
