<div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class= "congrats">
        <h2>un objectif a été atteint</h2>
        <h2>{{this.diplayCompltedObjectif}}</h2>
        <button mat-raised-button style="background-color: #ff5800; color: white;" (click)="close()">Continuer</button>
        </div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

        </div>