div{margin:15px auto; width:300px;}
span{width:20px; height:10px;display:block;border-radius:10px;
float:left;}

span:nth-child(2n-1){background:rgb(0, 132, 255); animation:bar1 0.8s infinite ease;}

span:nth-child(2n){background:rgb(0, 255, 255);animation:bar2 0.8s infinite ease;}

@keyframes bar1{
0%{background:rgb(17, 0, 255)}100%{background:rgb(0, 255, 21)}
}

@keyframes bar2{
0%{background:rgb(0, 255, 21)}100%{background:rgb(17, 0, 255)}
}

.congrats h2{clear:both;padding-top:15px; 
    padding-left:15px;
    font-family:verdana;
    color: rgb(0, 0, 0);
    font-size:1.25em;
}