<div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <div class= "congrats">
        <h2>un objectif a été atteint</h2>
        <h2>{{this.achivedObjectif}}</h2>
        <button mat-raised-button color="primary" (click)="close()" mat-dialog-close>Continuer</button>
        </div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>

       