

<div class="content">
    <header class="header-user-vs-player"> {{getNameFromLocalStorage()}} vous jouerez contre ...</header>
    <br>
       

      <mat-card class="player-user-card" fxLayout="row">
       
        <app-real-player></app-real-player>


        <app-vr-user></app-vr-user>
      
        
      </mat-card>

      <mat-card-actions>
        <div class="btn-user-player">
          <button mat-raised-button mat-dialog-close>Annuler La Partie</button>
          <button mat-raised-button color="primary" routerLink="/game" mat-dialog-close>Démarrer La Partie</button>
        </div>
          
      </mat-card-actions>
</div>


