.header-user-vs-player{
    text-align: center;
    font-weight: 500;
    font-size: 24px; 
    color: #3f51b5;
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    pointer-events: auto;
}

.player-user-card{
    border: none !important;
    box-shadow: none !important;
}

.mat-card-image{
  
    display: block;
    
}

.span-player{
    text-align: center;
    color: var(--globalColorThemeFull);
    font-family: var(--globalSecondaryFont);
    font-weight: 800;
}

// .mat-card-actions{
//     align: center;
// }

// .btn-user-player{
//     margin-left: 5%;
    
// }

.avatar{

}