@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}
@-moz-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes rotate-loading {
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}

@keyframes loading-text-opacity {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes loading-text-opacity {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes loading-text-opacity {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes loading-text-opacity {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.loading-container,
.loading {
    height: 100px;
    position: relative;
    width: 500px;
    float: left;
    border-radius: 100%;
}

.loading-container {
    margin: 40px auto;
}
#loading-text {
    -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
    -o-animation: loading-text-opacity 2s linear 0s infinite normal;
    -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
    animation: loading-text-opacity 2s linear 0s infinite normal;
    color: white;
    font-family: 'Helvetica Neue, ' Helvetica ', ' 'arial';
    font-size: 20px;
    font-weight: bold;
    margin-top: 45px;
    opacity: 0;
    float: left;
    position: absolute;
    text-transform: uppercase;
    top: 0;
    width: 800px;
}

::ng-deep {
    .mat-card {
        background-color: #312e2b;
        color: #efefef;
    }
    .mat-form-field-label {
        color: #efefef;
    }
    .mat-form-field.mat-focused .mat-form-field-label {
        color: #efefef;
    }
    .mat-card-title {
        color: #ff5800;
    }
    .mat-card-subtitle {
        color: #c0c0c0;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #f1864d;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #ff5800;
    }
    .mat-mini-fab.mat-accent {
        background-color: #ff5800;
    }
    .mat-mini-fab.mat-accent.mat-button-disabled,
    .mat-mini-fab.mat-button-disabled.mat-button-disabled {
        background-color: #2e4052;
    }
}

.form-control{
    border-color:#ff5800;
}

.time-label {
    p {
        margin: 0;
    }
}
.tooltip-list {
    white-space: pre;
}

.game-Configuration-Card {
    border: none !important;
    box-shadow: none !important;
}
.play-btn {
    margin-top: 30px;
}

.mat-form-field {
    width: 100%;
}

.error-hint {
    color: red;
}
.no-error-hint {
    color: green;
}

element.style {
    transform: none;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: rgb(0, 255, 191);
}

.multiplayerP {
    color: #3f51b5;
    font-size: 19px;
    font-weight: 450;
}

.text-config {
    margin-top: 10%;
}

input[type='radio'] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #3f51b5;
    border-radius: 50%;
    background-clip: content-box;
    padding: 3px;
}

input[type='radio']:checked {
    background-color: #3f51b5;
}

.multiplayerP-btn {
    margin-top: 7%;
    color: #3f51b5;
    font-size: 19px;
    font-weight: 450;
}

.multiplayerP-chosen {
    color: red;
    font-size: 19px;
    font-weight: 450;
}

.game-Configuration-Card {
    border: none !important;
    box-shadow: none !important;
}
.button-group {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    button {
        width: 150px;
        border-radius: 20px;
    }
    button:last-child {
        background-color: #2e4052;
    }
    button:last-child:enabled {
        color: white;
    }
}

.mat-form-field {
    width: 100%;
    color: white;
}

.error-hint {
    color: red;
}
.no-error-hint {
    color: green;
}

element.style {
    transform: none;
}
.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: rgb(0, 255, 191);
}

.multiplayerP {
    color: #3f51b5;
    font-size: 19px;
    font-weight: 450;
}

.text-config {
    margin-top: 10%;
}

input[type='radio'] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ff5800;
    border-radius: 50%;
    background-clip: content-box;
    padding: 3px;
}

input[type='radio']:checked {
    background-color: #ff5800;
}

::placeholder {
    color: #efefef;
}

.multiplayerP-chosen {
    color: red;
    font-size: 19px;
    font-weight: 450;
}
.mat-card-title {
    color: #ff5800;
}

::ng-deep {
    .mat-dialog-container {
        background-color: #312e2b;
    }

    .mat-card {
        background-color: #312e2b;
    }
    .mat-form-field-label {
        color: #efefef;
    }

    .mat-form-field.mat-focused .mat-form-field-label {
        color: #efefef;
    }

    .mat-card-subtitle {
        color: #c0c0c0;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #f1864d;
    }
    .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
        color: #ff5800;
    }
    .mat-mini-fab.mat-accent {
        background-color: #ff5800;
    }
    .mat-mini-fab.mat-accent.mat-button-disabled,
    .mat-mini-fab.mat-button-disabled.mat-button-disabled {
        background-color: #2e4052;
    }
    .mat-step-header .mat-step-icon-selected {
        color: white;
    }
    .mat-stepper-horizontal {
        background-color: #312e2b;
        color: white;
    }
    .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: #ff5800;
    }
}

.time-label {
    p {
        margin: 0;
        color: white;
    }
    h3 {
        color: white;
    }
    label {
        color: white;
    }
}
.tooltip-list {
    white-space: pre;
}

.button-group-2 {
    
    button {
        width: 200px;
        border-radius: 20px;
    }
    button:last-child {
        background-color: #2e4052;
    }
    button:last-child:enabled {
        color: white;
    }
}
