.full-screen{
    height: 100vh;
}
.btn-group{
    button{
        margin-bottom: 15px;
        background-color: #2E4052;
        color: #EFEFEF;
        width: 310px;
        height: 53px;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    button:hover{
        background-color: #405a74;
    }
    button:first-child{
        background-color: #FF5800;
    }
    button:first-child:hover{
        background-color: #fa7934;
    }
}
mat-icon{
    margin-right: 10px;
}

.background{
    height: 100%;
    color: #EFEFEF;
    background-image: url("../../../../assets/homepage-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
