<div class="container">
    <div class="frame" #scrollframe>
        <form [formGroup]="form">
            <div class="form-group">
                <div class="messageList">
                    <!-- <div *ngIf = "!inEasel" class = "alert alert-danger">les lettres entrées ne sont pas dans votre chevalet</div> -->
                    <div class="debugActive" *ngIf="isDebug">affichage de debogage activé</div>
                    <div class="debug" *ngIf="!isDebug">affichage de debogage desactivé <br /><br /></div>
                    <div id="turn" *ngIf="errorMessage !== ''" class="alert alert-danger">
                        commande impossible a realiser {{ ' ' + 'car ' + errorMessage }}
                    </div>
                    <ng-container>
                        <div *ngFor="let message of arrayOfMessages">
                            <p [class.myMessage]="message[0] === ' '" [class.otherMessage]="message[0] !== ' '">{{ message }}</p>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="isSkipButtonClicked()">
                        <div id="passer"></div>
                    </ng-container>

                    <div class="debugActive" *ngIf="isDebug">
                        <div *ngIf="userService.playMode === 'soloGame'">
                            <p *ngFor="let cmd of arrayOfVrCommands">{{ '[' + nameVr + ']' + ' ' + cmd }}</p>
                        </div>
                        <div *ngIf="toggleReserve">
                            <div *ngFor="let i of arrayOfReserveLetters">
                                <p>{{ i }}</p>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="isHelpActivated">
                        <div id="aide">
                            <div class="div">
                                <p class="command-help">Commandes :</p>
                            </div>
                            <div>
                                <p class="command-help">!aide</p>
                                <p class="command-description">Affiche ce message</p>
                            </div>
                            <div>
                                <p class="command-help">!placer {{ '|ligne|' + '|colonne|' + '|direction|' + ' ' + '|mot|' }}:</p>
                                <p class="command-description">Permet de placer un mot sur le plateau de jeu</p>
                                <p class="command-description">ex: placement horizontal à la position h8: !placer h8h soir</p>
                                <p class="command-description">ex: placement vertical à la position h8: !placer h8v mot</p>
                            </div>
                            <div>
                                <p class="command-help">!echanger</p>
                                <p class="command-description">
                                    Permet d'échanger les lettres séléctionnées du chevalet avec la réserve, si la réserve contient plus de 7 lettres
                                </p>
                                <p class="command-description">ex. si le chevalet contient a,b,c,d,e,f,g, on peut !echanger abcd</p>
                            </div>
                            <div>
                                <p class="command-help">!passer</p>
                                <p class="command-description">Permet à l'utilisateur de passer son tour lorsque c'est à son tour de jouer</p>
                            </div>

                            <div>
                                <p class="command-help">!debug</p>
                                <p class="command-description">
                                    Permet de voir les actions du joueur virtuel et de pouvoir utiliser la commande réserve
                                </p>
                            </div>
                            <div>
                                <p class="command-help">!reserve</p>
                                <p class="command-description">
                                    Permet d'afficher en ordre alphabétique le contenu de la réserve si le mode !debug est activé
                                </p>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="chatBar">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Chat</span>
                    </div>

                    <input formControlName="message" maxlength="512" [(ngModel)]="typeArea" #message type="text" class="form-control" autofocus />

                    <button mat-raised-button (click)="logMessage()">Ok</button>
                    <mat-hint id="hint" align="end">{{ message.value.length }} / 512 </mat-hint>
                </div>
            </div>
        </form>
    </div>
</div>
