<div class="container">
    

    <form [formGroup] = "form">

        <div class = "form-group">

            <div class = "messageList">

              <ul>
                <p  *ngIf = "form.errors.isValid" *ngFor="let message of messageY "> 
                  {{ message }}
                </p>
            
               </ul>
            </div>
               
            
            <div class = "chatBar">
                <div  class="input-group mb-3">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Chat</span>
                    </div>
                    <input formControlName = "message"  maxlength="512" [(ngModel)]="typeArea" #message  (keyup.enter)="print_value()" type = "text"  class = "form-control" autofocus/>
                    <!-- <mat-hint align="end">{{message.value.length}} / 512 </mat-hint>  -->
                </div>
            </div>

        </div>
    </form>
               

</div>
