.container {
    height: 100%;
    
    width: 100%;
    min-height: 98vh;
    border: 1px solid black;
    border-radius: 15px;
    
    margin-left: -50px;
    
}
.chatBar{
    
   
}
.messageList{

    height: 100%;
    
    
}
