.container {
    position: relative;
    border: 1px solid black;
    overflow-y: auto;
    width: auto;
    height: 900px;
    margin-top: 6.5vh;
    margin-bottom: 50%;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

#message {
    color: red;
}

hr {
    position: absolute;
    width: 95%;
    color: black;
    top: 8%;
}

#errorMessage {
    color: red;
}

.chatBar {
    margin: 4% 1% 0% 1%;
    top: 3%;
    width: auto;
}

.vrCommand {
    color: green;
}

#hint {
    width: 100%;
    position: absolute;
    top: 95%;
}

#turn {
    color: red;
}
.command-help{
    color: green;
    font-size: 15px;
    font-weight: bold;
}
.command-description{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

.myMessage {
    color: rebeccapurple;
    font-size: 18px;
    font-weight: bold;
}

.otherMessage {
    color: rgb(214, 48, 125);
    font-size: 18px;
    font-weight: bold;
}

.debug {
    color: red;
    font-size: 15px;
    font-weight: bold;
}
.debugActive {
    color: green;
    font-size: 15px;
    font-weight: bold;
}

.messageList {
    position: absolute;
    top: 14%;
    width: 95%;
}

::-webkit-scrollbar {
    width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 8px solid #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
