<div id="grid-container">
    <div>
        <div class="user-component" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column">
                <div>
                    <app-real-player></app-real-player>
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between center">
                <div class="button-game-page">
                    <button
                        #skipTurn
                        mat-raised-button
                        color="primary"
                        [disabled]="userService.skipTurnValidUser() === false"
                        (click)="detectSkipTurnBtn()"
                    >
                        Passer son tour
                    </button>
                </div>
                <div class="button-game-page">
                    <span class="chronometer-title"> 0{{ userService.counter.min }}:{{ userService.counter.sec }} </span>
                </div>

                <div class="button-game-page">
                    <button mat-raised-button color="accent" routerLink="/home">Abandonner</button>
                </div>
            </div>
            <div fxLayout="column">
                <div>
                    <app-vr-user></app-vr-user>
                </div>
            </div>
        </div>

        <canvas id="canvas" #gridCanvas (click)="mouseHitDetect($event)" [attr.width]="width" [attr.height]="height"></canvas>
        <button id="getRandomReserve" (click)="getLetters()" mat-raised-button color="accent" class="button">Get Letters</button>
        
    </div>

    <div>
        <p class="chronometer-title">Lettre restante : {{ remainingLetters }}</p>
    </div>
</div>

<div>
    <mat-card *ngIf="userService.time === 59; else displayVrUser" fxLayout="row">
        <ngx-avatar class="avatar" size="25" name="{{ userService.realUser.name }}"></ngx-avatar>
        <mat-card-header>
            <mat-card-title>{{ userService.realUser.name }}</mat-card-title>
            <mat-card-subtitle>{{ userService.realUser.level }}</mat-card-subtitle>
        </mat-card-header>
    </mat-card>

    <ng-template #displayVrUser>
        <mat-card fxLayout="row">
            <ngx-avatar
                class="avatar"
                size="25"
                name="{{ userService.vrUser.name }}"
                src="https://ichef.bbci.co.uk/news/976/cpsprodpb/16620/production/_91408619_55df76d5-2245-41c1-8031-07a4da3f313f.jpg"
            ></ngx-avatar>
            <mat-card-header>
                <mat-card-title>{{ userService.vrUser.name }}</mat-card-title>
                <mat-card-subtitle>{{ userService.realUser.level }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </ng-template>
</div>
