<div id="grid-container">

    <div>
        <div class="user-component" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" >
                <div>
                    <app-real-player></app-real-player>
                </div>
                <div>
                    chronometre
                </div>
            </div>
            <div fxLayout="column" fxLayoutAlign="space-between center" >
                <div>
                    <button mat-raised-button color="primary">Passer son tour</button>
                </div>
                <div>
                    <button mat-raised-button color="accent" routerLink="/home" >Abandonner</button>
                </div>
                <div>
                    <ngb-timepicker></ngb-timepicker>
                </div>

            </div>
            <div fxLayout="column">
                <div>
                    <app-vr-user></app-vr-user>
                </div>
                <div>
                    chronometre
                </div>
            </div>
        </div>

        <canvas id="canvas" #gridCanvas (click)="mouseHitDetect($event)" [attr.width]="width" [attr.height]="height"></canvas>   
        
    </div>
    

   
    <div id="mouse-position-display">
        <p>Cliquez sur la grille pour avoir la position de la souris</p>
        <p *ngIf="mousePosition.x !== 0">X : {{ mousePosition.x }}</p>
        <p *ngIf="mousePosition.y !== 0">Y : {{ mousePosition.y }}</p>
        <hr />
        <p>Appuyez sur une touche du clavier pour la détecter</p>
        <p *ngIf="buttonPressed !== ''">Touche : {{ buttonPressed }}</p>
    </div> 

</div>

<div class="buttom-button" fxLayout='row'>
    <div class="p-div">
        <button id="getRandomReserve" (click)="getLetters()" mat-raised-button color="accent" class="button">remplire le chevalet </button>
    </div>
    <div class="p-div">
        <button id="Pl" (click)="placeFromEasel()" mat-raised-button color="accent" class="button">placer les lettres</button>
    </div>


</div>