<!-- <div [hidden]="!isGameOver()" *ngIf="isGameOver()">
    <mat-card-title>La partie est fini</mat-card-title>
    <mat-card-subtitle>Feliciation nanak </mat-card-subtitle>
</div> -->

<div class="grid-container" fxLayout="column">
    <div class="button-up" fxLayout="row" >
        <div class="div">
            <button mat-raised-button color="accent" routerLink="/home">Quitter la partie</button>

        </div>
        <div class="div">
            <button
            #skipTurn
            id="btn"
            mat-raised-button
            color="primary"
            [disabled]="userService.skipTurnValidUser() === false"
            (click)="detectSkipTurnBtn()"
            >
            Passer son tour
            </button>
        </div>
        <div class="div">
             <button mat-raised-button color="accent" routerLink="/home">Abandonner</button>
        </div>
        <div class="div" fxLayout="row" >
            <p class="actual-player">Joueur Actuel : </p>

            <div *ngIf="userService.realUser.turnToPlay === true; else displayVrUser" fxLayout="row">

                <ngx-avatar class="avatar" size="30" name="{{ userService.realUser.name }}">Joueur Actuel</ngx-avatar>

            </div>

            <ng-template #displayVrUser>
                <div fxLayout="row">
                    <ngx-avatar
                        class="avatar"
                        size="30"
                        name="{{ userService.vrUser.name }}"
                        src="https://ichef.bbci.co.uk/news/976/cpsprodpb/16620/production/_91408619_55df76d5-2245-41c1-8031-07a4da3f313f.jpg"
                    ></ngx-avatar>
                </div>
            </ng-template>


        </div>


    </div>

    <div>
        <canvas id="canvas" #gridCanvas (click)="mouseHitDetect($event)" [attr.width]="width" [attr.height]="height"></canvas>
    </div>

</div>
