<div>
    <mat-card class="game-Configuration-Card">
        <mat-card-title>Configuration de la partie en Solo</mat-card-title>
        <mat-card-subtitle>Entrez votre nom d'utilisateur afin de commencer la partie ! </mat-card-subtitle>
        <form [formGroup]="userFormGroup" (ngSubmit)="onSubmitUserName()">
            <div class="mb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Nom d'utilisateur </mat-label>
                    <input
                        class="user-name-input"
                        matInput
                        #message
                        maxlength="15"
                        [(ngModel)]="name"
                        formControlName="userName"
                        placeholder="Ex. Sami1234"
                        required
                    />
                    <mat-hint class="text-white" align="end"> {{ message.value?.length }} / 15</mat-hint>

                    <mat-hint class="no-error-hint" align="start" *ngIf="userFormGroup.controls.userName.valid">
                        &#9679; Le nom entré est valide !!! <br />
                    </mat-hint>
                    <mat-icon matSuffix mat-icon-button matTooltipPosition="right" [matTooltip]="toolTip" matTooltipClass="tooltip-list"
                        >info</mat-icon
                    >
                </mat-form-field>
            </div>

            <div class="d-flex flex-row align-items-center justify-content-start">
                <h3 class="text-white" style="margin: 0px">Temps par tour :</h3>

                <div class="d-flex flex-row align-items-center justify-content-evenly" style="width: 200px">
                    <button mat-mini-fab #minusBtn [disabled]="this.timeCounter === 0" (click)="onClickInMinusButton($event)">
                        <mat-icon>remove</mat-icon>
                    </button>

                    <div class="time-label d-flex flex-row">
                        <p>{{ this.time.min | number: '2.0-0' }}</p>
                        <p>{{ ':' }}</p>
                        <p>{{ this.time.sec | number: '2.0-0' }}</p>
                    </div>

                    <button mat-mini-fab #addBtn [disabled]="this.timeCounter === 9" (click)="onClickInAddButton($event)">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>

            <div class="time-label d-flex flex-row align-items-center justify-content-start" style="margin-top: 10px">
                <h3 style="margin-bottom: 0">Mode de jeu :</h3>
                <div *ngFor="let mode of modes">
                    <label class="d-flex flex-row align-items-center justify-content-start" style="margin-left: 10px">
                        <input
                            type="radio"
                            style="margin-right: 3px"
                            name="gameMode"
                            [value]="mode"
                            checked
                            (change)="randomBonusActivated($event)"
                        />
                        {{ mode }}
                    </label>
                </div>
            </div>
            <div class="time-label d-flex flex-row align-items-center justify-content-start" style="margin-top: 10px">
                <h3 style="margin-bottom: 0">Niveau du joueur virtuel :</h3>
                <div *ngFor="let lvl of lvls">
                    <label class="radio-tem d-flex flex-row align-items-center justify-content-start" style="margin-left: 10px">
                        <input type="radio" style="margin-right: 3px" name="lvlJv" [value]="lvl" checked (change)="setLevelJv($event)" />
                        {{ lvl }}
                    </label>
                </div>
            </div>
            <!-- <button (click) = getDictionnaries()>allo</button> -->
            <h3 style="margin-bottom: 0;color:white">Dictionnaires :</h3>
            <div class="form-group">
                <select (change)="getDictionnariesDelete(); selectedDictionnary($event)" class="form-control">
                    <option *ngFor="let d of dictionnaries">
                        {{ d.title }}
                    </option>
                </select>
            </div>

            <p>
                <mat-card-actions>
                    <div class="button-group">
                        <button mat-raised-button mat-dialog-close (click)="this.userService.isBonusBox = false">Annuler</button>
                        <button mat-raised-button (click) = "enableBtn();" [disabled]="userFormGroup.controls.userName.invalid || isDeleted === true" mat-dialog-close type="submit">Suivant</button>
                    </div>
                </mat-card-actions>
            </p>
        </form>
    </mat-card>
</div>
