.game-Configuration-Card{

    border: none !important;
    box-shadow: none !important;

}
.play-btn{
    margin-top: 30Px;
}

.mat-form-field {
    width: 100%;
}

.error-hint{
    color: red;
}
.no-error-hint{
    color: green;
}

element.style {
    transform: none;
}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: rgb(0, 255, 191);
}

.multiplayerP{

    color: #3f51b5;
    font-size: 19px;
    font-weight: 450;
}




.text-config{
    margin-top: 10%;
}


input[type="radio"] {
	appearance:none;
	width: 20px;
	height: 20px;
	border: 1px solid #3f51b5;
	border-radius: 50%;
	background-clip: content-box;
	padding: 3px;
}

input[type="radio"]:checked {
	background-color: #3f51b5;
}


.multiplayerP-btn{

    margin-top: 7%;
    color: #3f51b5;
    font-size: 19px;
    font-weight: 450;
}


.multiplayerP-chosen{
    color: red;
    font-size: 19px;
    font-weight: 450;
}

.multiplayerD-chosen{
    color: red;
    font-size: 15px;
    font-weight: 450;
}

::ng-deep{
    .mat-card{
        background-color: #312E2B;
    }
    .mat-card-title{
        color: #EFEFEF;
    }
    .mat-card-subtitle{
        color: #c0c0c0;
    }
}
