

.mat-card{

    border: none !important;
    box-shadow: none !important;
    background-color: aquamarine;
    color: +50%;
	// animation: flash ;
}

.score-time{
    font-size: 1rem;
    font-weight: 300;
    font-weight: bold;
}
