<mat-card class="" fxLayout="row">
    <ngx-avatar class="avatar" size="50" name="{{ userService.realUser.name }}"></ngx-avatar>
    <mat-card-header>
        <mat-card-title>{{ userService.realUser.name }}</mat-card-title>
        <mat-card-subtitle>{{ userService.realUser.level }}</mat-card-subtitle>
        <mat-card-subtitle class="score-time">Temps par tour : {{ userService.realUser.round }}</mat-card-subtitle>
        <mat-card-subtitle class="score-time">Score : {{ this.userService.realUser.score }}</mat-card-subtitle>
        <p>letter dans chevalet : {{ this.userService.realUser.easel.easelSize }}</p>
    </mat-card-header>
</mat-card>
